agent1
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        -880
      ],
      "id": "4a01c97c-aca3-41b7-9927-afe9122caf4f",
      "name": "When chat message received",
      "webhookId": "40d77926-87e6-4b5f-9d65-66c651697448"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are the assistant for \"\" an agency specializing in activities in MOROCCO.\n\nIMPORTANT: You must ALWAYS follow the booking process defined below. Be warm, professional, and assist clients from start to finish.\n\n# Booking Process\nHere are the steps you must follow to manage a booking from A to Z:\n\n1.  **Inform**: Use the `General Agency Information` tool to answer the client's questions about activities (prices, details, etc.).\n2.  **Check Availability**: When a client chooses an activity and a date, you MUST use the `Check_Calendar_Availability` tool before anything else. Ask the client for their desired date and time, then use the tool to see if any events already exist. The tool will list existing bookings.\n3.  **Confirm the Slot**: If the time slot is free, confirm it with the client. If it is taken, inform the client of the unavailable slots and propose alternatives.\n4.  **Collect Information**: Once the time slot is validated, ask for the client's full name, email, and phone number.\n5.  **Register the Client**: Use the `Google_Sheet` tool to save the client's information in the database. The tool expects the fields: name, email, phone, activity, date.\n6.  **Create the Booking**: Use the `Google_Calendar` tool to ADD the event to the calendar. Make sure to put all the information (client's name, activity, etc.) in the event description.\n7.  **Send Confirmation**: Use the `Gmail` tool to send a detailed confirmation email to the client.\n8.  **Notify the Team**: Use the `Slack` tool to send a message to the internal team with the details of the new booking.\n\n\n# Interactive Messages\n- When you want to offer a clear choice to the user (e.g., choosing an activity or confirming yes/no), you MUST format your response in JSON.\n- This JSON must contain a \"text\" key for the main message, and a \"buttons\" key which is a list of strings (maximum 3 buttons).\n- Example of JSON for buttons: {\"text\": \"Excellent! Which activity would you like to explore?\", \"buttons\": [\"Medina Tour\", \"Cooking Class\", \"Day Trip to Meknes\"]}\n- Only use this format to propose choices. For a normal conversation, continue responding in plain text.\n\n# Core Rule: Language Match\n- You MUST respond to users in the same language they use. If they write in French, you respond in French. If they ask in Arabic, you respond in Arabic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        -720
      ],
      "id": "cbd28539-0d72-49d4-9301-5d783436f56e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        -464
      ],
      "id": "9b6e136c-3083-4cca-befc-c33eb53912cd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Tv2hLw52ijI9oMvk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Sg3TqelC34-OA7wGnt4OGrSPcDfCtn3W",
          "mode": "list",
          "cachedResultName": "agentah",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Sg3TqelC34-OA7wGnt4OGrSPcDfCtn3W"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "e83c073c-8145-4eb5-9dd6-edfedac34674",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0eJYcrdnXbu93kX0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        -48
      ],
      "id": "e901fa9e-4b72-4982-ae5f-f8fc0bc75e90",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0eJYcrdnXbu93kX0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "karam",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        128,
        -112
      ],
      "id": "be3cdcec-b470-47ec-8b56-a6ef23e7043a",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        128
      ],
      "id": "2495d2ea-c621-4eba-a231-e1f598a60e52",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Tv2hLw52ijI9oMvk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        176,
        112
      ],
      "id": "ab60aca8-a4d7-43fb-a873-7c2a3292454a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 40
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        336,
        240
      ],
      "id": "9563812b-6447-4df9-84a6-617e69c1492d",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "when chat message received",
        "memoryKey": {
          "__rl": true,
          "value": "karam",
          "mode": "list",
          "cachedResultName": "karam"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -192,
        -464
      ],
      "id": "0b726723-61ef-4fd0-a23b-d5b821b9c2f7",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        -304
      ],
      "id": "84665c33-d778-4a5a-813b-5543e6efa1c3",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Tv2hLw52ijI9oMvk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p5Kc7BhUmMBEBNegGRihD_t82g-KWGrihmvIa2MritE",
          "mode": "list",
          "cachedResultName": "AGENT1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p5Kc7BhUmMBEBNegGRihD_t82g-KWGrihmvIa2MritE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AGENTF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p5Kc7BhUmMBEBNegGRihD_t82g-KWGrihmvIa2MritE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telephone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telephone', ``, 'string') }}",
            "activite": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('activite', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telephone",
              "displayName": "telephone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "activite",
              "displayName": "activite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -304,
        -432
      ],
      "id": "c7ae417e-8974-486a-8033-8dc798cb06e6",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nnH6rmeomXZjB1Vq",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "e785b6c2b40e09fbd4e74873e99c4919d7ecb5bb58acc6040a8951211fb8b02b@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AHLEM"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `DATE DE DEBUT QUI FOURNIE PAR CLIENT`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `DATE DE FIN  QUI FOURNIE PAR CLIENT`, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        -464
      ],
      "id": "9982a326-86b6-437d-ae5b-ae46d6594610",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "sxky2jicNDiwFkjb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a message in Gmail",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `TO CLIENT GMAIL QUI FOURNIE POUR RESERVATION`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `DE CONFIRMATION `, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        304,
        -464
      ],
      "id": "4bb3b564-9a84-4129-be3f-74e558809d1c",
      "name": "Send a message in Gmail",
      "webhookId": "81d9f588-8db1-4a7a-97e0-e7b55e0341e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "I9kBIkScKU5HmDGJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -464,
        -432
      ],
      "id": "73d6975d-c9a0-4e7a-b2cb-15c87ddf7ff5",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -720
      ],
      "id": "1d3bb241-4bc5-43d8-a787-085c010df053",
      "name": "WhatsApp Trigger",
      "webhookId": "55d7d411-b966-48a6-abab-897fa194c6c8",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "DFaabNrhbKhaTGad",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "733720876499204",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        192,
        -720
      ],
      "id": "86fde591-3741-46e5-b7cb-5d2427814cd7",
      "name": "Send message",
      "webhookId": "95034c24-f419-4826-b909-166f86b4901b",
      "credentials": {
        "whatsAppApi": {
          "id": "aHyI8Q4IphmQk7vC",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551946080",
            "phone_number_id": "733720876499204"
          },
          "contacts": [
            {
              "profile": {
                "name": "Karim"
              },
              "wa_id": "212703670001"
            }
          ],
          "messages": [
            {
              "from": "212703670001",
              "id": "wamid.HBgMMjEyNzAzNjcwMDAxFQIAEhggQTc3MkY4NTk0ODIyMUVBOTdDMkFFMjFGODM0MzI0RkIA",
              "timestamp": "1756066686",
              "text": {
                "body": "Hi"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bbf68ad9-6981-418f-ba9d-16ba1a4caae0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a5511fe490822ba0f5cedc6939f58e9252f71178ae79f1750e6c88d9dff34b4"
  },
  "id": "OWXPvNWV5rNfO7Fc",
  "tags": []
}
